# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint

## compatibility with Xcode 11 and earlier (ignoring not required starting Xcode 12)
*.xccheckout

## Compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/

## Compatibility with Xcode 5 and earlier (ignoring not required starting Xcode 6)
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html
#
# Pods/
# Specific folders
DerivedData/
*.hmap

# Debugger data
*.dSYM.zip
*.dSYM

# Archive files
*.xcarchive

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# This may be useful if your project uses a mix of dependencies from different sources.
# Packages/
# Package.pins
# Package.resolved
# .swiftpm
# .swift-version

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Advanced.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# Avoid using the following files generated by code injection frameworks (e.g. Injection for Xcode).
*.storyboardc
*.strings
*.xdca

# Xcode custom templates
#
# Templates for custom file types.
# .xctemplate

# Xcode Plug-ins and extensions
#
# Plug-ins and extensions for Xcode.
# .xcodeplugin

# Xcode/iOS Playgrounds
#
# iOS Playgrounds directory
# See: https://github.com/github/gitignore/pull/1833
playground.xcworkspace
playground.xcplayground

# Xcode Scheme Management
#
# xcschemes may change, often changing only the schemes user-specific. These may cause unnecessary diffs and
# merge conflicts. When shared schemes are used, they should be stored in xcshareddata/xcschemes.
*.xcscheme
*.xcuserstate

# Temporary files
#
# Temporary files created by the compiler and linker, used to speed up rebuilds.
*.tmp
*.temp
*.swp
*.swo

# Build artifacts
#
# Build artifacts created by Xcode.
*.o
*.obj
*.pyc
*.pyo
*.rbc
*.class
*.jar
*.swp

# Output folders
#
# Output folders for compiled assets.
Release/
Debug/
Test/

